.form {
  width: 20em;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.form__label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__input {
  margin: 1em 0;
}

.form__ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  height: 200px;
  overflow: auto;
}
