.shoppingItemsContainer {
  padding-bottom: 20px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

h3 {
  display: block;
  width: 100%;
}

.container {
  min-height: 260px;
}

.list {
  margin-left: 20px;
}
